# Server
PORT=5000
NODE_ENV=development

# TMDB API
TMDB_API_KEY=your_tmdb_api_key
TMDB_BASE_URL=https://api.themoviedb.org/3
TMDB_IMAGE_BASE_URL=https://image.tmdb.org/t/p

# Database
DATABASE_URL=mysql://avnadmin:your_password@your_host:11849/defaultdb
DB_SSL=true

# CORS
CLIENT_ORIGIN=http://localhost:5173